body{
    background: #19053F;
    margin: 0;
    color: #DFCFDF;

}

body {
    margin: 5% auto;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    max-width: 73%;
}

code {
    background: white;
}

a {
    border-bottom: 0.1vh solid #CCF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20%;
    color: #CCF;
    text-decoration: none;
    font-size: 2vh;
    transition: border-bottom-left-radius 300ms, border-bottom-right-radius 300ms;
}

a:hover {
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 0;
}

nav{
    margin-inline: auto;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
    margin-inline: auto;
    text-shadow: 0 0 0 #CCCCFF;
    transition: text-shadow 300ms;
}
li:hover{
    text-shadow: 0 0 25px #DFCFDF;
}

h1{
    font-size: 5vh;
    text-shadow: 0 0 20px #000;
}

footer{
    text-align: center;
}

.bubble{
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(76,9,121,1) 31%, rgba(203,156,254,1) 100%);
}