body{
    background: #19053F;
    margin: 0;
    color: #DFCFDF;

}

body {
    margin: 5% auto;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    max-width: 73%;
}

code {
    background: white;
}

a {
    border-bottom: 1px solid #CCF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20%;
    color: #CCF;
    text-decoration: none;
    transition: border-bottom-left-radius 400ms, border-bottom-right-radius 400ms;
}

a:hover {
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 0;
}

nav{
    margin-inline: auto;
}

li{
    display: inline-block;
    margin-inline: auto;
    margin: 50px;
}
h1{
    font-size: 69px;
    text-shadow: 0 0 20px #000;
}
