#nav{
    display: flex; /* non spiegato */
    flex-direction: row;
    align-content: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 58px;
}

#nav ul li{
    list-style: none;
}

#nav ul li a{
    color: #9BA3B4;
    font-family: Cantarell, sans-serif;;
    text-decoration: none;
}

body{
    margin: 0;
    background: #0D1117;
}