#nav{
    display: flex; /* non spiegato */
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background: #0D1117;;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 2;
}

#nav ul li{
    list-style: none;
    display: inline-block;
    padding-inline: 12px;
}

a{
    display: flex;
    align-content: center;
    justify-content: center;
}

ul{
    padding: 0;
    margin: 0;
    align-content: center;
}

#nav ul li a{
    text-decoration: none;
    color: #9BA3B4;
}

#logo-text{
    letter-spacing: -0.2px;
    margin-right: 24px;
    font-weight: 600;
    font-size: 20px;
    color: #c3d0e5;
    align-self: center;
}

#logo{
    position: relative;
    top: 5px;
    align-self: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

#nav ul li a:hover{
    color: #c3cbdc;
}


body{
    font-family: Cantarell, sans-serif;
    margin: 0;
    color: #9BA3B4;
    background: #0D1117;
    width: 100vw;
    overflow-x: hidden;
}

#theme{
    background: #fff0;
    border: none;
    height: 32px;
    align-self: center;
    align-content: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

#theme img{
    width: 20px;
    height: 20px;
}

#theme:hover{
    background: #fff2;
}

#search{
    display: flex;
    justify-content: center;
    border: 1px solid #444;
    border-radius: 4px;
    height: fit-content;
    padding: 7px 8px;
    margin-inline: 12px;
    align-self: center;
}

#search img{
    align-self: center;
    margin-inline: 8px;
    height: 16px;
}

#search input{
    background: transparent;
    border: transparent;
    color: #c3d0e5;
}

.blue-button{
    display: inline-block;
    align-self: center;
    background: #0078d4;
    color: #FFF;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
}

.blue-button:hover{
    cursor: pointer;
    background: #0058B4;
}

.center{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 4px;
}

.blue-button img{
    width: 18px;
    margin-right: 8px;
}

.blue-button p{
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}

h1{
    margin-top: 80px;
    font-size: 72px;
    color: #c3d0e5;
    text-align: center;
    letter-spacing: -0.8px;
    margin-bottom: 25px;
}

#copilot{
    margin-left: 8px;
    font-size: 18px;
    display: inline-block;
    border: 1px solid #444444;
    background: #222222;
    border-radius: 4px;
    padding-inline: 20px;
}

#copilot:hover{
    background: #333;
    cursor: pointer;
}

a{
    display: inline-block;
}

.tiny-link{
    font-size: 12px;
    color: #4daafc;
    text-decoration: underline;
}

.tiny-link:hover{
    cursor: pointer;
}

body div video{
    width: 80vw;
    position: relative;
    top: 10vh;
    border-radius: 12px;
    box-shadow: #0008 0 2px 16px;
}

#background{
    position: absolute;
    width: 90vw;
    border-radius: 24px;
}

.pause{
    margin-inline: auto;
    width: fit-content;
    margin-top: 240px;
    padding: 8px 22px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.pause:hover{
    border: 2px solid #9BA3B4;
    padding: 6px 20px;
}

#env{
    aspect-ratio: 1;
    width: 480px;
}

#footer{
    width: 100%;
    height: 100px;
    padding: 50px 50px;
}

#footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
}

#footer ul li:hover{
    cursor: pointer;
}

#footer ul li img{
    width: 25px;
}

#footer ul{
    display: block;
}

#footer ul li a{
    text-decoration: none;
    color: #9BA3B4;
}


.dropdown{
    margin-inline: auto;
    padding: 50px;
    border-radius: 20px;
    border: 5px solid black;
    width: fit-content;
    font-weight: bolder;
}

.dropdown:hover{
    cursor: pointer;
}

.dropdown-content{
    padding: 50px;
    border-radius: 20px;
    width: fit-content;
    font-weight: bolder;
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(5px); /* sfoca lo sfondo dietro al div*/
}