header{
    padding: 5vh;
    align-items: center;
    align-content: center;
    vertical-align: center;
}
h1{
    background-image: linear-gradient(0deg, rgb(0, 0, 255) 0%, rgb(200, 200, 255) 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: none;
    text-align: center;
    display: block;
    font-weight: 900;
    font-family: "Raleway", Helvetica, Arial, SansSerif, serif;
    font-size: 10vh;
    line-height: 80%;
}
.label{
    text-align: center;
    font-family: "Raleway", Helvetica, Arial, SansSerif, serif;
    font-size: 5vh;
}

canvas{
}

#renderer{
    width: fit-content;
    height: fit-content;
    margin-inline: auto;
    border-radius: 5vh;
    box-shadow: 0 0 69px #000;
    padding:5vw;
}