header{

    padding: 100px;
    align-items: center;
    align-content: center;
    vertical-align: center;
}
h1{
    background-image: linear-gradient(0deg, rgb(0, 0, 255) 0%, rgb(200, 200, 255) 100%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    color: #00000000;
    text-shadow: none;
    text-align: center;
    display: block;
    font-weight: 900;
    font-family: "Raleway", Helvetica, Arial, SansSerif, serif;
    font-size: 10vh;
    line-height: 1;
}

canvas{
    margin-inline: auto;
    border-radius: 10vh;
    box-shadow: 0 0 69px #000;
}