:root{
    --geist-foreground: #FFF;
    --geist-background: #000;
    --geist-secondary: #888;
    --gray-color: #222;
}

body{
    margin: 0;
    font-family: "Geist", sans-serif;
    background-color: #000;
    color: var(--geist-foreground);
    font-size: 14px;
}

.ib{
    display: inline-block;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    backdrop-filter: blur(5px);
    height: 63px;
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
    background: #000C;
}

.over{
    z-index: 1;
    position: relative;
}

nav a{
    text-decoration: none;
    margin-inline: 10px;
    font-family: "Geist", sans-serif;
    color: var(--geist-secondary);
    font-size: 14px;
    transition: all 0.15s ease;
}

nav a:hover{
    color: #DDD;
    cursor: pointer;
}

kbd{
    width: fit-content;
    height: fit-content;
    align-self: center;
    font-family: "Geist", sans-serif;
    font-size: 12px;
    padding-inline: 6px;
    padding-block: 3px;
    border-radius: 6px;
    color: #FFF;
    border: 1px solid --gray-color;
}

button{
    font-family: "Geist", sans-serif;
    font-weight: 600;
}

main{
    width: 100%;
    position: absolute;
    display: flex;
    top: 63px;
    justify-content: center;
    flex-direction: column;
    padding-top: 128px;
}

h1{
    margin: 0;
    font-size: 60px;
    color: linear-gradient(0deg, rgba(238,238,238,1) 35%, rgba(221,221,221,1) 100%);
    text-align: center;
    font-weight: 600;
}

h3{
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

p{
    text-align: center;
    color: rgb(161, 161, 161);
    font-size: 16px;
}

.gray-thin-border{
    border: 1px solid #333;
}

.gradient{
    background: linear-gradient(0deg, hsla(0, 0%, 10%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
}

.card{
    background: #FFF0;
    border-radius: 12px;
    padding: 24px;
    transition: all 250ms;
}

.card:hover{
    background: #FFFFFF08;
    cursor: pointer;
}

.card h3{
    text-align: left;
}

.card p{
    text-align: left;
}

.square{
    aspect-ratio: 1;
}

.br8{
    border-radius: 8px;
}

.br14{
    border-radius: 14px;
}

.p8{
    padding: 8px;
}

.p14{
    padding: 14px;
}

